:root {
  --h: 121;
  --s: 47%;
  --l: 46%;
  --low-alpha: .2;

  --color-primary: hsl(var(--h), var(--s), var(--l));
  --color-on-primary: hsl(var(--h), var(--s), 98%);

  --color-secondary: hsl(calc(var(--h) + 90), var(--s), var(--l));
  --color-secondary--transparent: hsla(calc(var(--h) + 90), var(--s), var(--l), var(--low-alpha));

  --color-warning: hsl(0, var(--s), var(--l));
  --color-success: hsl(90, var(--s), var(--l));

  --color-white: hsl(var(--h), 30%, 96%);
  --color-black: hsl(var(--h), var(--s), 4%);

  --fontSize: 1rem;
  --fontSize--small: calc(var(--fontSize) * .8);
  --fontSize--large: calc(var(--fontSize) * 1.8);

  --spacing: var(--fontSize);
  --spacing--tight: calc(var(--spacing) * .5);
  --spacing--large: calc(var(--spacing) * 1.62);

  --textColor: var(--color-black);
}

.tt-app, .tt-body {
  height: 100%;
}

.tt-body {
  background-color: var(--color-white);
  color: var(--textColor);
  font-family: 'Roboto';
  font-size: var(--fontSize);
  margin: 0;
  padding: 0;
}

.tt-page {
  display: grid;
  grid-auto-flow: row;
  height: 100%;
}

.tt-section {
  background-color: var(--color-secondary--transparent);
  padding: var(--spacing--tight);
}

  .tt-section--highlight {
    background-color: var(--color-secondary);
  }

  .tt-section--centerText {
    text-align: center;
  }

  .tt-section--scrollable {
    display: grid;
    overflow: hidden;
    padding: 0;
  }

.tt-grid {
  align-items: baseline;
  display: grid;
  grid-gap: var(--spacing);
}

  .tt-grid--horizontal { grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)); }

  .tt-grid--vertical { grid-auto-flow: row; }

  .tt-grid--spacingTight { grid-gap: var(--spacing--tight); }

.tt-c-header {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: var(--spacing--tight);
  text-align: center;
}

  .tt-c-header__title {
    font-size: var(--fontSize);
    font-weight: normal;
    margin: 0;
  }


.tt-c-userData {
  --tt-c-userData--formElementsAlign: start;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: var(--spacing--tight);
}

  .tt-c-userData__inputLabelGroup {
    display: flex;
    flex-direction: column-reverse;
  }

  .tt-c-userData__input {
    background-color: var(--color-white);
    border: 0;
    border-radius: var(--spacing--tight);
    box-sizing: border-box;
    color: var(--textColor);
    font: inherit;
    font-weight: 300;
    padding: var(--spacing--tight);
    text-align: var(--tt-c-userData--formElementsAlign);
    width: 100%;
    outline: 0;
    transition: background-color 1s;
  }

    .tt-c-userData__input::-webkit-calendar-picker-indicator {
      display: none;
    }
    .tt-c-userData__input::placeholder {
      color: var(--textColor);
      opacity: .3;
    }

    .tt-c-userData__input:valid {
      background-color: transparent;
      font-weight: 500;
    }


  .tt-c-userData__label {
    color: var(--color-warning);
    font-size: var(--fontSize--small);
    font-weight: 300;
    padding: 0 var(--spacing--tight);
    text-align: var(--tt-c-userData--formElementsAlign);
    transition: transform .19s .19s, opacity .19s .19s;
  }

    .tt-c-userData__input:valid + .tt-c-userData__label {
      color: var(--color-success);
    }

  .tt-c-userData__inputLabelGroup:last-child {
    --tt-c-userData--formElementsAlign: end;
  }

.tt-c-sum {
  box-sizing: border-box;
  color: var(--color-on-primary);
  font-size: var(--fontSize--large);
  padding: var(--spacing) 0;
  text-align: center;
}

.tt-c-scrollContainer {overflow-y: auto;}

  .tt-c-scrollContainer:empty {
    background-color: var(--color-secondary--transparent);
    height: 100vh;
  }

  .tt-c-scrollContainer:empty::after {
    content: 'Please use the + button to add a new working day';
    display: block;
    font-size: var(--fontSize--large);
    font-weight: 200;
    margin: 40% var(--spacing--large);
    text-align: center;
    color: var(--color-primary);
  }

.tt-heading {
  font-size: var(--fontSize);
  margin: 0 0 var(--spacing--tight);
  text-align: center;
}

.tt-paragraph {
  margin: 0 0 var(--spacing);
}

.tt-input {
  background-color: var(--color-white);
  border: 0;
  border-radius: var(--spacing--tight);
  box-sizing: border-box;
  color: var(--textColor);
  font: inherit;
  font-weight: 300;
  padding: var(--spacing--tight);
  text-align: var(--tt-c-userData--formElementsAlign);
  width: 100%;
  outline: 0;
}

.tt-button {
  background-color: var(--color-primary);
  border: 0;
  border-radius: var(--spacing--tight);
  box-sizing: border-box;
  color: var(--color-on-primary);
  font: inherit;
  padding: var(--spacing--tight);
  text-align: center;
}

.tt-dialog {
  background-color: var(--color-white);
  border: 0;
  width: 80vw;
  border-radius: var(--spacing--large);
}

.tt-dialog::backdrop { background-color: #000a; }

.tt-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.tt-td { padding: var(--spacing--tight); }

.tt-td--inactive {
  font-style: italic;
  opacity: .3;
}
