/*
Page-layout

The page-layout gives the structure for the entire application with a named grid and
is divided into header, content and footer
  -header and footer will span their height given by the content
  -content will fill up the remaining height to 100 % of the viewport height

Markup:
<div class="tt-page">
  <p class="tt-paragraph">The "place to be" for one header, one main content-block and one footer.</p>
</div>

Styleguide Page.Layout
*/

/* Setup */
.tt-page {
  /* So far not flexible setup needed */
}

/* Layout and design */
.tt-page {
  display: grid;
  grid-auto-flow: row;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
