/*
Table

A simple table with even-odd row highlighting. No class. No modifier.

Markup:
<table>
  <tbody>
    <tr>
      <td>Row 1, Column 1</td>
      <td>Row 1, Column 2</td>
      <td>Row 1, Column 3</td>
    </tr>
    <tr>
      <td>Row 2, Column 1</td>
      <td>Row 2, Column 2</td>
      <td>Row 2, Column 3</td>
    </tr>
    <tr>
      <td>Row 3, Column 1</td>
      <td>Row 3, Column 2</td>
      <td>Row 3, Column 3</td>
    </tr>
    <tr>
      <td>Row 4, Column 1</td>
      <td>Row 4, Column 2</td>
      <td>Row 4, Column 3</td>
    </tr>
  </tbody>
</table>
*/
/* Setup */
table {
  --table\borderColor: var(--🌐color-text--decent, transparent);
  --table\borderWidth: 1px;
  --table\fontSize: var(--🌐fontSize--sm);
  --table\marginBottom: 14vh; /* weak - but parent footer would overlay content otherwise */
  --table\width: 100%;
  --table__tr\highlightColor: var(--🌐color-background--hightlight);
  --table__td\padding: var(--🌐spacing--sm);
}

/* Layout and design */
table {
  border-collapse: collapse;
  font-size: var(--table\fontSize);
  margin-bottom: var(--table\marginBottom);
  width: var(--table\width);
}
  tr { border-bottom: solid var(--table\borderWidth) var(--table\borderColor); }
    tr:first-child { border-top: solid var(--table\borderWidth) var(--table\borderColor); }
    tr:nth-child(even) { background-color: var(--table__tr\highlightColor); }

  td {
    border-right: solid var(--table\borderWidth) var(--table\borderColor);
    padding: var(--table__td\padding);
  }
  td:last-child { border-right: 0; }
